In [5]:
# Python program to demonstrate 
# writing to CSV 
  
  
import csv  
    
# field names  
fields = ['Name', 'Branch', 'Year', 'CGPA']  
    
# data rows of csv file  
rows = [ ['Nikhil', 'COE', '2', '9.0'],  
         ['Sanchit', 'COE', '2', '9.1'],  
         ['Aditya', 'IT', '2', '9.3'],  
         ['Sagar', 'SE', '1', '9.5'],  
         ['Prateek', 'MCE', '3', '7.8'],  
         ['Sahil', 'EP', '2', '9.1']]  
    
# name of csv file  
filename = "university_records.csv"
    
# writing to csv file  
with open(filename, 'w') as csvfile:  
    # creating a csv writer object  
    csvwriter = csv.writer(csvfile)  
        
    # writing the fields  
    csvwriter.writerow(fields)  
        
    # writing the data rows  
    csvwriter.writerows(rows)

In [7]:
# opening the CSV file  
with open('./university_records.csv', mode ='r')as file:  
      
  # reading the CSV file  
  csvFile = csv.reader(file)  
    
  # displaying the contents of the CSV file  
  for lines in csvFile:  
        print(lines)

['Name', 'Branch', 'Year', 'CGPA']
['Nikhil', 'COE', '2', '9.0']
['Sanchit', 'COE', '2', '9.1']
['Aditya', 'IT', '2', '9.3']
['Sagar', 'SE', '1', '9.5']
['Prateek', 'MCE', '3', '7.8']
['Sahil', 'EP', '2', '9.1']

In [8]:
# pandas way 
import pandas as pd 
df = pd.read_csv("./university_records.csv")
df

      Name Branch  Year  CGPA
0   Nikhil    COE     2   9.0
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     SE     1   9.5
4  Prateek    MCE     3   7.8
5    Sahil     EP     2   9.1